@import url("fonts.css");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.main-page {
  background-image: url("../images/background-main-page.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 0 104px 120px 104px;
}
.header-logo {
  color: #3077c6;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
}
.header-right-content {
  display: flex;
  flex-direction: row;
}
.nav-content {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
.links {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 24px 0 0;
  cursor: pointer;
  line-height: 1.5;
  display: block;
  text-decoration: none;
}
.links:after {
  display: block;
  content: "";
  height: 3px;
  width: 0;
  background-color: #f5bd41;
  transition: width 0.3s ease-in-out;
}
.links:focus:after,
.links:active:after {
  width: 100%;
}
.icons {
  list-style: none;
}
svg.sprite-account {
  margin-left: 24px;
}
.main-text {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 196px;
  margin-bottom: 80px
}
.form-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.form-city,
.form-date,
.form-amount {
  display: flex;
  flex-direction: column;
}
.form-city {
  width: 37%;
}
.form-date {
  width: 21%;
}
.form-amount {
  width: 26%;
}
.button-search {
  width: 16%;
}
.input-city,
.input-date,
.input-amount,
.button-search {
  background-color: white;
}
.input-city {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.button-search {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.form-checkin-text-city,
.form-checkin-text-amount,
.form-checkin-text-date,
.button-search-form {
  width: 100%;
  height: 64px;
  outline: none;
  border-radius: 8px;
}
.form-checkin-text-date {
  border: 1px solid #cecece;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  padding: 0 24px;
}
.form-checkin-text-city,
.form-checkin-text-amount {
  border: 3px solid transparent;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  padding: 0 24px;
}
.button-search-form {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  background-color: #3077c6;
  border: none;
}
.label-city,
.label-date {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 0 0 24px 24px;
}
::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #383838;
}
.form-checkin-text-city:focus {
  border: 3px solid #f5bd41;
  cursor: pointer;
}
.form-checkin-text-date:focus {
  border: 3px solid #f5bd41;
  cursor: pointer;
}
.form-checkin-text-amount:focus {
  border: 3px solid #f5bd41;
  cursor: pointer;
}
.download-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
}
.google-play,
.app-store {
  margin-right: 20px;
}
h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.offer-text {
  margin-top: 120px;
  line-height: 2.3;
}
.homes-guests-text {
  margin-bottom: 104px;
  margin-top: 120px;
}
.offer-text:after {
  content: "";
  display: block;
  height: 4px;
  background: #f5bd41;
  width: 6%;
  margin-left: 47%;
}
.container-offer {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 0 104px 0 104px;
}
.list-offer {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-end;
}
.list-offer p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 56px;
}
.HomesGuests-container {
  background-color: #eaf0f9;
  padding-bottom: 120px;
}
.homesGuests-wrapper {
  position: relative;
  padding: 0 104px 0 104px;
}
.homes-guests-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 25px;
}
.home-guests-pic {
  width: 100%;
}
.button-homes {
  position: absolute;
  left: 92%;
  top: 27%;
}
.hotels-text {
  font-weight: 400;
  font-size: 24px;
  color: #3077c6;
  margin-top: 24px;
}
.cities-text {
  font-weight: 400;
  font-size: 24px;
  margin-top: 24px;
  color: #bfbfbf;
}
.footer {
  background-color: #10367c;
  padding: 0 104px 0 104px;
}
.footer-logo {
  color: #fff;
  display: none;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item {
  list-style: none;
  white-space: nowrap;
}
.list-footer {
  font-size: 20px;
  font-weight: 400;
  line-height: 2.4;
  color: #fff;
  margin: 120px 0 64px 0;
  width: 70%;
}
.list-footer li:first-child {
  font-weight: 500;
}
.copyright {
  display: block;
  color: #fff;
  background-color: #10367c;
  padding: 0 0 120px 0;
}
@media screen and (max-width: 1400px) {
  .hotels-text {
    font-size: 18px;
    margin-top: 15px;
  }
  .cities-text {
    font-size: 18px;
    margin-top: 10px;
  }
  .homesGuests-wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }
  .button-homes {
    position: absolute;
    left: 92%;
    top: 30%;
  }
}
@media screen and (max-width: 1199px) {
  .homes-guests-text {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .HomesGuests-container {
    padding-bottom: 80px;
  }
  .homesGuests-wrapper {
    padding-left: 65px;
    padding-right: 65px;
  }
  .hotels-text {
    font-size: 16px;
    margin-top: 8px;
  }
  .cities-text {
    font-size: 16px;
    margin-top: 4px;
  }
  .button-homes {
    top: 30%;
  }

  .list-offer p {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    margin-top: 100px;
  }
  .list-offer {
    flex-wrap: wrap;
    gap: 40px 0;
  }
  .list-offer li {
    flex-basis: 50%;
  }
  .list-offer p {
    font-size: 18px;
  }
  .container-offer {
    margin: 80px;
    padding: 0;
  }
  .homes-guests-text {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 28px;
  }
  .HomesGuests-container {
    padding-bottom: 80px;
  }
  .homesGuests-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
  .hotels-text {
    font-size: 14px;
    margin-top: 8px;
  }
  .cities-text {
    font-size: 14px;
    margin-top: 4px;
  }
  .homes-guests-list li:nth-child(4) {
    display: none;
  }
  .footer {
    padding: 40px 60px;
  }

  .list-footer {
    font-size: 17px;
    padding-left: 5px;
  }
  .copyright {
    padding: 0 0 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .list-offer p {
    font-size: 20px;
  }
  h2 {
    font-size: 32px;
    margin-top: 24px;
  }
  .list-offer {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: initial;
  }
  .list-offer li {
    margin-top: 45px;
  }
  .container-offer {
    margin-top: 34px;
    margin-bottom: 40px;
  }
  .offer-text:after {
    display: none;
  }
  .homes-guests-text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .HomesGuests-container {
    padding-bottom: 56px;
  }
  .homesGuests-wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
  .button-homes {
    width: 40px;
    height: 40px;
    top: 32%;
  }
  .hotels-text {
    font-size: 12px;
    margin-top: 8px;
  }
  .cities-text {
    font-size: 12px;
    margin-top: 4px;
  }
  .footer-container {
    padding: 0;
  }
  .footer {
    padding: 40px 10px;
  }
  .list-footer {
    padding: 0;
    margin: 40px 0 35px 0;
    text-align: center;
  }
  .list-footer li {
    display: none;
  }
  .list-footer li:first-child {
    display: inline;
    border-bottom: 1px solid #fff;
  }
  .copyright {
    text-align: center;
    padding-bottom: 40px;
  }
  .footer-logo {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .list-offer p {
    font-size: 15px;
    margin-top: 20px;
  }
  h2 {
    font-size: 28px;
  }
  .list-footer li {
    font-size: 15px;
  }
  .container-offer {
    margin: 0 0 40px 0;
  }
  .homes-guests-list li:nth-child(3) {
    display: none;
  }
  .button-homes {
    width: 33px;
    height: 33px;
    left: 91%;
  }
  .homesGuests-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer {
    padding: 40px 10px;
  }
  .copyright {
    font-size: 10px;
    text-align: center;
    padding: 0 0 40px 0;
  }
}
@media screen and (max-width: 380px) {
  .button-homes {
    width: 28px;
    height: 28px;
  }
  .homesGuests-wrapper {
    padding-left: 17px;
    padding-right: 17px;
  }
}
